

.footer{
    background-color: #828282;
    color: white; 
    padding: 50px 85px;
    display: flex;
    justify-content: space-between;
    line-height: 26px;
    font-size: 14px;

    .state{
        width: 17%;

        h2{
            font-size: 1.3rem;
            line-height: 24px;
            font-weight: bold;
        }
    }

    .contact{
        width: 35%;

        h2{
            font-size: 1.3rem;
            line-height: 24px;
            font-weight: bold;
        }

        input{
            width: 100%;
        }
    }
}