.services{
    background-image: url('../img/services/services-jumbotron.png');
    width: 1024px;
    height: 250px;
    position: relative;
    z-index: -1;

    @media only screen and (max-width: 600px) {
        background-image: url('../img/services/services-mobile-jumbotron.png');
        width: 320px;
        height: 260px;
        padding: 0px 15px;
        margin-bottom: 25px;
    }

    .top-headlines{
        font-size: 64px;
        line-height: 75px;
        color: white;
        width: 33%;
        font-weight: bold;
        position: absolute;
        left: 85px;
        bottom: 25px;

        @media only screen and (max-width: 600px) {
            font-size: 36px;
            line-height: 42px;
            left: 15px;
            bottom: 25px;
        }
    }
}

.full-paragraph{
    padding: 55px 85px 0 85px;
    font-size: 1rem;
    line-height: 24px;

    p{
        padding-top: 16px;
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        padding: 15px 15px;

    }
}

.tab-carousel{
    padding: 50px 85px;

    @media only screen and (max-width: 600px) {
        padding: 0px 15px;
    }

    .tab-menu{
        padding: 0 0 50px 0;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        .tab-button{
            display: flex;
            justify-content: center;
            .button-mixin(white, black, 19px, 15px, 15px);
            width: 180px;
            font-weight: bold;

            @media only screen and (max-width: 600px) {
                margin-top: 20px;
                width: 100%;
                .button-mixin(white, black, 19px, 15px, 15px);
            }

            &.selected{
                color: white;
                background-color: #5E9FB9;
            }

            &:hover{
                color: white;
                background-color: #222222;
            }
        }
    }

    .tab-row{
        display: none;
        justify-content: space-between;
        align-items: flex-end;
        
        .row-half-image{

            padding-bottom: 65px;

            &.mobile{
                display: none;
            }
        }

        @media only screen and (max-width: 600px) {
            flex-direction: column;

            .row-half-image{

                &.mobile{
                    display: flex;
                }

                &.full{
                    display: none;
                }
            }
        }

        .row-half-paragraph{
            width: 47%;
            font-size: 1rem;
            line-height: 1.6rem;

            @media only screen and (max-width: 600px) {
                width: 100%;
            }
            h2{
                font-size: 1.4rem;
                font-weight: bold;
                color: #222222;
                margin: 1rem 0;
            }
            
            p{
                padding-bottom: 15px;
            }
        }

        &.shown{
            display: flex;
        }
    }
}